<h2>Creative</h2>
<p>
    Serwer Creative to miejsce przeprowadzania testów przez uczestników Lodów. Każdy ma
    op i dostęp do całej superpłaskiej mapy stworzonej na wzór redstone ready, ale przy
    użyciu bloków kwarcu na biomie Plains. Pozwala to na testowanie w dość naturalnych
    warunkach. Serwer stoi na Fabricu, dzięki czemu jest możliwość korzystania z CarpetModa
    wspomagającego Vanillowe mechaniki komend. W razie potrzeby serwer zmienia mapę i/lub
    funkcję - jeśli ktoś ma chęć przejścia mapy multiplayer, pojawi się ona właśnie tam.
</p>

<h3>Port</h3>
Creative jest dostępny pod portem: <tt>25564</tt>

<h3>Mapa</h3>
Generator: superflat
<br />
Seed (nie mam pojęcia po co komu seed mapy płaskiej, but ok): <tt>-6263047385241675848</tt>
<br />
Struktury: wyłączone
<br />
Ustawienia generatora superflat: <tt>minecraft:bedrock,55*minecraft:quartz_block;minecraft:plains</tt>

<h3>Mody</h3>
<a href="https://github.com/gnembon/fabric-carpet" target="_blank">CarpetMod</a>
<br />
<a href="https://github.com/enginehub/WorldEdit" target="_blank">WorldEdit</a>

<h3>Linki</h3>
<a href="pages/minecraft/map" target="_blank">Mapa 3D</a>