<img src="img/lody.png" height="150" style="float: left; margin-right: 10px; margin-bottom: 5px;">

<h2>Lody Vanillowe</h2>
<p>
    Lody Vanillowe to serwer Minecraft Vanilla Survival. Tworzy go niewielka społeczność
    złożona ze znajomych. Nie jest to Vanilla dla purystów, są datapacki (właściwie datapack)
    które nie wpływają na rozgrywkę, jest integracja z Discordem przez rcon i logi czy mapa
    świata, a gracze mogą używać customowych clientów nie dających przewagi. Sprawami
    technicznymi zajmuje się Grzesiek11.
</p>

<h3>Port</h3>
Lody są dostępne pod domyślnym portem: <tt>25565</tt>

<h3>Mapa</h3>
Generator: default
<br />
Seed: <tt>1277870415572482400</tt>

<h3>Gracze</h3>
<h4>Aktywni</h4>
<ul>
    <li>Grzesiek11</li>
    <li>TadeLn</li>
    <li>Finishh</li>
    <li>MrKubekkk</li>
    <li>dziedziedziek</li>
    <li>Kornelo_yt</li>
</ul>
<h4>Nieaktywni</h4>
<ul>
    <li>ReaperK24</li>
</ul>

<h3>Linki</h3>
<a href="pages/minecraft/map" target="_blank">Mapa 3D</a>
<br />
<a href="pages/minecraft/stats" target="_blank">Statystyki</a>
<br />
<a href="/~tadeln/highwayMap/" target="_blank">Mapa sieci lodostrad</a>
<br />
<a href="https://www.youtube.com/playlist?list=PLDJvKmrd5E74i89qs-3JPrJ_09Erolr6q" target="_blank">Seria TadeLn'a na YT</a>
<br />
<a href="https://www.youtube.com/playlist?list=PLcvyNPCOPDlLEiY4zPs8w4ePu4viVLPwE" target="_blank">Seria Grześka11 na YT</a>