<h2>Lody Bedrockowe</h2>
<p>
    Lody Bedrockowe (nazywane też Biedrockowymi) to odmiana Lodów Vanillowych na wersję
    Bedrock Edition gry. Zasady są te same: Vanilla dla znajomych. Mimo, że prawie żaden z graczy Lodów
    nie jest regularnym użytkownikiem Bedrocka, jest kilka powodów dla których ten serwer
    istnieje. Po pierwsze - wiek mapy i glitche. Zaczynając w momencie, w którym Bedrock
    jest zabugowany, mamy szansę mieć w przyszłości unikalną mapę z wieloma niemożliwymi w
    przyszłości rzeczami. Po drugie - trzymanie pod pachą laptopa w każdym momencie
    jest mniej wygodne niż trzymanie w kieszeni Switcha czy smartfona, więc Bedrockowe
    lepiej nadają się do "przypadkowego" grania.
</p>

<h3>Port</h3>
Lody Bedrockowe są dostępne pod domyślnym portem: <tt>19132</tt>

<h3>DNS</h3>
<p>
    Z racji, że wersja na Nintendo Switcha nie ma możliwości dołączenia przy użyciu IP
    <i>"ze względu na ograniczenia platformy"</i> (jasne), postanowiłem postawić serwer DNS
    (pod portem <tt>32</tt>). Jedyne co musisz zrobić, aby zagrać tu na swoim Switchu, to zmienić
    DNS na numeryczny adres IP serwera (znajdziesz na stronie głównej). Jak to zrobić,
    dowiesz się <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/22411/~/how-to-manually-enter-dns-settings" target="_blank">tutaj</a>.
    Następnie odpal Minecrafta i wybierz serwer "Hive". Zostaniesz połączony z Bedrockowymi.
    Powodzenia!
</p>

<h3>Linki</h3>
<a href="pages/minecraft/bemap/map" target="_blank">Mapa top-down</a>