<img src="img/minecraft.png" height="150" style="float: left; margin-right: 10px; margin-bottom: 5px;">

<h3>Nasze serwery Minecraft</h3>
<h4><a href="index.php?p=minecraft/lody.html">Lody Vanillowe</a></h4>
<p>Lody Vanillowe to serwer Vanilla i mała społeczność SMP.</p>
<h4><a href="index.php?p=minecraft/lody-bedrock.html">Lody Bedrockowe</a></h4>
<p>Lody Bedrockowe to odmiana Lodów Vanillowych na wersję Bedrock Minecrafta.</p>
<h4><a href="index.php?p=minecraft/creative.html">Creative</a></h4>
<p>Creative to serwer testowy, czasem pełniący funkcję testowania snapshotów czy ogrywania mapek.</p>

<h3>Inne</h3>
<a href="pages/minecraft/hcmap" target="_blank">Mapa Hermitcraft</a>