@font-face {
    font-family: "JetBrains Mono";
    src: url(font.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: "JetBrains Mono", monospace;
}

a {
    color: lightgreen;
}

pre {
    color: greenyellow;
}

tt {
    color: greenyellow;
}