<h2>Creditsy</h2>
<ul>
    <li>TadeLn - pierwsza wersja strony i ciągła pomoc w rozwoju</li>
    <li>mk7 - aktualne logo Lodów Vanillowych, testy strony</li>
</ul>

<h2>Copyrightowane materiały</h2>
<ul>
    <li><a href="img/minecraft.png" target="_blank">Blok trawy</a> - Mojang</li>
</ul>