<img src="img/starypc.jpg" height="150" style="float: left; margin-right: 10px; margin-bottom: 5px;">

<h2>O nas</h2>
<p>
    <b>starypc</b> to serwer w posiadaniu Grześka11. Swoją nazwę zawdzięcza temu, że jest starym
    pecetem (wow, <i>serio?</i>), na którym kiedyś ów posiadacz miał xpeke i sobie go używał
    jako maina. Z tego powodu nie jest demonem prędkości, a jego połączenie z internetem
    też zbyt żwawe nie jest. Mimo to, kilka osób które korzysta z jego przestrzeni
    hostingowej jest raczej zadowolonych.
</p>

<h2>Oferujemy</h2>
<ul>
    <li>Miejsce na twoją <s>reklamę</s> stronę</li>
    <li>Połączenie przez SSH i FTP</li>
    <li>Kilka pre-hosted rzeczy:</li>
    <ul>
        <li>Nextcloud (chmura)</li>
        <li>QuasselCore (bouncer IRC)</li>
        <li>MariaDB i MongoDB (bazy danych)</li>
    </ul>
    <li>Zasoby staregopc (czyli niedużo)</li>
    <li>Łącze 2.1 Kbps</li>
    <li>Epicką domenę z końcówką .starypc.dynu.net</li>
    <li>Najlepszego Debiana</li>
    <li>Fajny hostname</li>
    <li>Darmowe przekąski w oczekiwaniu na start programów</li>
    <li>Fakt, że raczej nie dostaniesz u nas miejsca (chyba że znasz Grześka)</li>
</ul>

<h2>Nieaktualności</h2>
<p>
    <i>"Zmiana hardware? Owszem, w niedalekiej przyszłości. Nazwa? Zostaje."</i>
    <br />
    -- Grzesiek11 o nowym hardware
</p>

<h2>Opinie</h2>
<p>
    <i>"no to very spk<br />
        podoba mi się<br />
        hostuję tam w sumie wszystko czego potrzebuję"</i>
    <br />
    -- TadeLn o hostingu na starympc
</p>