<h2>Błąd 401</h2>
<h3>Odmowa dostępu</h3>
<p>
    Ta strona jest poza zasięgiem katalogu bazowego. Jeśli znalazłeś się tu przypadkiem,
    <a href="https://gitlab.com/grzesiek11/starypc/-/issues" target="_blank">zgłoś buga na
    GitLabie</a> lub <a href="index.php?p=kontakt.html">skontaktuj się z nami</a>. Możesz też
    <a href="index.php?p=main.html">wrócić na stronę główną</a>.
</p>